# fly.toml app configuration file generated for soft-robot-frontend on 2025-08-24T19:05:09+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'soft-robot-frontend'
primary_region = 'fra'

[build]

[env]
  VITE_API_URL = 'https://backend-broken-sea-2989.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
